<div class="container maintxt bg-{{portalId.travelId}}">
    <br><br><br>
    <div class="slider-text ">
        <h1>
            <strong>EXPLORE</strong> <br> WITH TRAVELS <strong>{{portalId.travelId | uppercase}}</strong>
        </h1>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
            style="opacity: 1; transform: translateZ(0px) translateY(0%);">
            Find great places to stay, eat, shop, or visit from local experts
        </p>
    </div>

    <div class="container">
        <span class="border ">
            <div class="card" style="border: 0px;">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card" style="border: 0px;">
                                    <div class="card-body">
                                        <select class="form-select" [(ngModel)]="selectedCity" id="cities">
                                            <option>Choose your city</option>
                                            <option *ngFor="let order of cities; let i = index"
                                                [value]="cities[i].city">
                                                {{cities[i].city}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="border: 0px;">
                                    <div class="card-body">
                                        <input class="form-control" placeholder="Choose From Date" name="dp"
                                            [(ngModel)]="startdate" ngbDatepicker #sd="ngbDatepicker" required
                                            #name="ngModel" (click)="sd.toggle()">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="border: 0px;">
                                    <div class="card-body">
                                        <input class="form-control" placeholder="Choose To Date" name="dp"
                                            [(ngModel)]="enddate" ngbDatepicker #ed="ngbDatepicker" required
                                            #name="ngModel" (click)="ed.toggle()">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card" style="border: 0px;">
                                    <div class="card-body">
                                        <button class="float-right btn btn-warning" type="button"
                                            [disabled]="selectedCity =='Choose your city'"
                                            (click)="fetchDetailsForCity(selectedCity)">
                                            Find details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </span>
    </div>

    <div class="container" *ngIf="bookingRef!=''">
        <div class="card opacity mb-3">
            <div class="card-body ">
                <h5 class="card-title"><strong>Boking reference: </strong>{{bookingRef}}</h5>
                <div>
                    <h5 class="card-title">My Holiday Choices</h5>
                    <strong> Flight</strong>: {{selectedFlight.airline}} <span
                        *ngIf="selectedFlight.airline!=''"> (${{selectedFlight.price}})</span><br>
                    <strong>Hotel</strong>: {{selectedHotel.hotel}} <span
                        *ngIf="selectedHotel.hotel!=''">(${{selectedHotel.price}})</span><br>
                    <strong>Car</strong>: {{selectedCar.carModel}} <span
                        *ngIf="selectedCar.carModel!=''">(${{selectedCar.price}})</span><br>
                    <strong>Insurance</strong>: {{selectedInsurance.company}} <span
                        *ngIf="selectedInsurance.company!=''">(${{selectedInsurance.price}})</span><br>
                </div>                            
            </div>
        </div>
    </div>

    <div class="container" *ngIf="selectedCity !='Choose your city' && cityDetails.flights && cityDetails.flights.length >0 ">
        <div class="card-deck opacity">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-2" style="border: 0px;">
                        <div class="card-body">
                            <h5 class="card-title">Flights</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Airline</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped">
                                    <tr *ngFor="let flight of this.cityDetails.flights; let i = index">
                                        <td>
                                            <input name="flightoptions" ng-control="flightoptions" type="radio"
                                                (click)="selectedFlight=flight;bookingRef=''" />
                                        </td>
                                        <td scope="row">
                                            {{ flight.airline }}
                                        </td>
                                        <td scope="row">{{ flight.price | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Hotels</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Hotel</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped">
                                    <tr *ngFor="let hotel of this.cityDetails.hotels; let i = index">
                                        <td>
                                            <input name="hoteloptions" ng-control="hoteloptions" type="radio"
                                                (click)="selectedHotel=hotel" />
                                        </td>
                                        <td scope="row">
                                            {{ hotel.hotel }}</td>
                                        <td scope="row">{{ hotel.price | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Cars</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Car Model</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped">
                                    <tr *ngFor="let car of this.cityDetails.cars; let i = index">
                                        <td>
                                            <input name="caroptions" ng-control="caroptions" type="radio"
                                                (click)="selectedCar=car" />
                                        </td>
                                        <td scope="row">
                                            {{ car.carModel }}</td>
                                        <td scope="row">{{ car.price | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">Insurances</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Insurance Company</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody class="table-striped">
                                    <tr *ngFor="let insurance of this.cityDetails.insurances; let i = index">
                                        <td>
                                            <input name="insuranceoptions" ng-control="insuranceoptions" type="radio"
                                                (click)="selectedInsurance=insurance" />
                                        </td>
                                        <td scope="row">
                                            {{ insurance.company }}</td>
                                        <td scope="row">{{ insurance.price | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        

        <!--Summary section-->

        <div class="card opacity mb-3">
            <div class="card-body ">
                <h5 class="card-title">My Holiday Details</h5>
                <div>
                    <strong> Flight</strong>: {{selectedFlight.airline}} <span *ngIf="selectedFlight.airline!=''">
                        (${{selectedFlight.price}})</span><br>
                    <strong>Hotel</strong>: {{selectedHotel.hotel}} <span
                        *ngIf="selectedHotel.hotel!=''">(${{selectedHotel.price}})</span><br>
                    <strong>Car</strong>: {{selectedCar.carModel}} <span
                        *ngIf="selectedCar.carModel!=''">(${{selectedCar.price}})</span><br>
                    <strong>Insurance</strong>: {{selectedInsurance.company}} <span
                        *ngIf="selectedInsurance.company!=''">(${{selectedInsurance.price}})</span><br>

                        <span *ngIf="total() > 0 && bookingRef==''">
                            <h5>Total: $ {{total()}} </h5>
                            <button class="float-right btn btn-success" type="button"
                                [disabled]="selectedFlight==null || selectedHotel==null || selectedCar==null || selectedInsurance==null"
                                (click)="book()">
                                Book my holiday
                            </button>
                        </span>
                    
                </div>                            
            </div>
        </div>

        <!--Summary section end-->
    </div>
</div>